#match-view-parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#match-score {
    display: flex;
    flex-direction: row;
}

.match-score-column {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}

#match-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid #646cff; */
    border-radius: 5px;
    background-color: #f6f6f6;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.match-info-div {
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
}

#other-match-info {
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
}

.match-view-player-table {
    width: auto !important;
    text-align: center;
    min-width: 30vw;
}

#date-time-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}