#cot-matches-content {
    display: flex;
    flex-direction: column;
}

.folded-mop-filter {
    border: 1px solid black;
    border-radius: 1vw;
    background-color: #f6f6f6;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-weight: bold;
    color: #646cff;
}

#mobile-folded-mop-filter {
    margin-bottom: 2vh;
}

#mobile-expanded-mop-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-top: 2vh; */
    margin-bottom: 5vh;
}

.filter-select {
    width: 200px;
}

.filter-select-title {
    width: 100px;
    text-align: center;
    font-size: smaller;
}

#mop-filter-button-div {
    width: 100%;
    text-align: right;
}

.select-menu-item {
    font-size: 0.9em !important;
}

.matches-filter-explainer {
    /* border: 1px solid #646cff; */
    /* border-radius: 1vw; */
    /* padding: 0.1vw; */
}

.matches-filter-explainer-parent {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    font-size: small;
    justify-content: space-evenly;
    width: 100%;
}

.cotm-twt {
    font-size: 0.8em;
}