#navigation-bar-parent {
    width: 10vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
}

#navigation-bar-logo {
    width: 100%;
    border: 1px solid blue;
}

.navigation-bar-link {
    text-align: center;
}