#cot-mop-content {
    display: flex;
    flex-direction: column;
}

#cot-matches-content {
    display: flex;
    flex-direction: column;
}

#mobile-folded-mop-filter {
    margin-bottom: 2vh;
}

#mobile-folded-mop-filter:hover {
    cursor: pointer;
}

.expanded-mop-filter {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

#mobile-expanded-mop-filter {
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}

#desktop-expanded-mop-filter {
    /* display: flex; */
    flex-direction: row;
    /* align-items: center; */
}

.select-group-item {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.match-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5vh;
}

#split-by-filter {
    margin-bottom: 3vh !important;
}

.filter-select {
    /* width: 200px; */
    min-width: 200px;
    max-width: 200px;
}

.filter-select-title {
    width: 100px;
    text-align: center;
    font-size: smaller;
}

#mop-filter-button-div {
    width: 100%;
    text-align: right;
}

.select-menu-item {
    font-size: 0.9em !important;
}

.matches-filter-explainer-parent {
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    font-size: small;
    justify-content: space-evenly;
    width: 100%;
}

.cotm-twt {
    font-size: 0.8em;
}

#desktop-mop-fop-parent {
    width: 80vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#desktop-optional-filters-subtitle {
}

#desktop-mop-fop-filters {
    display: flex;
    flex-direction: row;
    width: 60vw;
    flex-wrap: wrap;
}