#cot-overview-content {
    display: flex;
    flex-direction: column;
}

#cot-overview-parent-table {
    border-collapse: collapse;
    border-style: hidden;
}

#cot-overview-parent-table .cot-overview-cell {
    border: 1px solid #646cff;
}

.cot-overview-cell {
    width: 35vw;
}

#cot-overview-tables-desktop {
    display: flex;
    justify-content: center;
}

.overview-table-div {
    margin: 2vw;
    display: flex;
    flex-direction: column;
}

.overview-table-table {
    text-align: center;
}

#cot-overview-tables-mobile {
    display: flex;
    flex-direction: column;
}