#add-club-entry-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-club-parent {
    width: 100%;
}

#new-club-submit-form {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.add-club-section {
    /* width: 50vw; */
    width: 80%;
    padding-bottom: 5vh;
}

.new-club-entry-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-with-question-mark-icon {
    display: flex;
    flex-direction: row;
    padding-bottom: 2vh;
}