#selection-section {
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.players-div {
    border: 1px solid black;
    width: 45vw;
}

#subtitle-and-buttons-div {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}

.sab-text {
    font-size: small;
}

.sab-button-text {
    font-size: x-small;
    width: 110px;
}

.sab-subtitle-text {
    width: 120px;
    /* border: 1px solid red; */
    text-align: center;
}

.match-info-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
}

#match-info-input-labels {
    /* width: 50vw; */
}

#match-info-input {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.match-info-input-row {
    height: 6vh;
    display: flex;
    align-items: center;
    max-width: 200px;
}

#mii-time-input {
    padding: 1%;
}

#location-select {
    text-align: center;
}

#han-radios {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* border: 1px solid red; */
    width: 120px;
    justify-content: space-around;
}

#update-match-error {
    white-space: break-spaces;
    color: red;
    text-align: center;
}

#player-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.match-player-list {
    width: 45vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-list {
    height: 50vh;
    border: 1px solid black;
}

.mpl-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 1vw;
    margin-right: 1vw;
}

.mpl-row {
    display: flex;
    flex-direction: row;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
    font-size: small;
    align-items: center;
}

.mpl-below-players {
    margin-top: 2vh;
}

#goals-input {
    /* height: 60vh; */
    /* border: 1px solid blue; */
    text-align: center;
}

.gi-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 0.5vh;
}

.gi-name {
    width: 35vw;
    /* border: 1px solid pink; */
}

.gi-goals {
    width: 35vw;
    /* border: 1px solid pink; */
}

.gi-potm {
    width: 20vw;
    /* border: 1px solid pink; */
}

#goals-scored-text {
    font-style: italic;
    margin-bottom: 1.5vh;
    /* border: 1px solid #646cff; */
    /* max-width: fit-content; */
}