#selection-section {
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.players-div {
    border: 1px solid black;
    width: 45vw;
}

#subtitle-and-buttons-div {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vh;
}

.sab-text {
    font-size: small;
}

.sab-button-text {
    font-size: x-small;
    width: 110px;
}

.sab-subtitle-text {
    width: 120px;
    /* border: 1px solid red; */
    text-align: center;
}

.match-info-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#match-info-input-labels {
    width: 40vw;
}

#match-info-input {
    display: flex;
    flex-direction: row;
}

.match-info-input-row {
    height: 6vh;
    display: flex;
    align-items: center;
}