#advice-bar-parent {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 2vh;
}

#advice-bar {
    font-style: italic;
    background-color: #f6f6f6;
    max-width: 90vw;
    padding: 2vw;
    font-size: small;
}