.win-result {
    color: green !important;
}

.loss-result {
    color: red !important;
}

.draw-result {
    color: grey !important;
}

.sortable-table-title {
    margin-left: 5vw;
}

.overview-table-title {
    margin-left: 5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#better-table-parent {
     display: flex;
     justify-content: center;
     min-width: 40vw;
}