#loading-logo {
    /* height: 8vw; */
    width: 15vw;
    margin-top: 8vw;
    margin-bottom: 4vw;
    border: 1px solid black;
}

#loading-div-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#loading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
    #loading-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}