#loading-logo {
    height: 8vw;
    margin-top: 8vw;
    border: 1px solid black;
}

#loading-div-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
    #loading-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}