#lor-input-parent-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 85%; */
}

.lor-input-div {
    display: flex;
}

.lor-input {
    width: 80%;
    text-align: center;
}

.lor-error {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#lor-input-grid {
    display: grid;
    grid-template-columns: 15vw 25vw;
    grid-template-rows: repeat(5,8vh);
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

@media only screen and (max-width: 1000px) {
    #lor-input-grid {
        grid-template-columns: 25vw 75vw;
    }
    .lor-input {
        /* width: 40vw; */
    }
}

/* #lor-title {
    margin-left: 5vw;
    margin-bottom: 5vh; */
/* } */

#submit-button {
    margin-top: 2vh;
}

#submit-error {
    margin-top: 5vh;
}