#number-input {
    width: 90%;
}

#number-input2 {
    display: flex;
    flex-direction: row;
    height: 51.4px;
    justify-content: space-between;
}

#number-input-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.change-value-button {
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#number-input-input {
    padding-left: 5vw;
    border: 0.5px solid rgba(0, 0, 0, 0.23);
    border-radius: inherit;
    max-width: 50%;
}