.overview-selector-top-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.overview-selector-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10vw;
}

.overview-selector-row {
    margin-top: 3vh;
    margin-bottom: 3vh;
    max-width: 700px;
}

.overview-selector {
    margin-top: 10vh;
}

#add-new-team-div {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}