#app-parent {
	display: flex;
	flex-direction: row;
}

#page-content {
	display: flex;
	width: 90vw;
}

.ss-red-error {
	height: 3vh;
	color: red;
}

.ss-black-button {
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.disabled-button {
    cursor: not-allowed;
}