.app-parent {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

#desktop-app-parent {
	flex-direction: row;
}

#mobile-app-parent {
	flex-direction: column;
}

.page-content {
	display: flex;
}

#desktop-page-content {
	width: 90vw;
	height: 100vh;
	max-height: 100vh;
	/* overflow-y: scroll; */
	overflow: auto;
}

#mobile-page-content {
	width: 100vw;
	height: 90vh;	
}

.ss-table {
	width: auto !important;
    text-align: center;
	text-wrap: balance;
}

.table-row-rank {
	font-weight: bold;
}

.ss-red-error {
	height: 3vh;
	color: red;
}

.error-message {
	color: red;
}

.success-message {
	color: green;
}

.ss-black-button {
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.ss-grey-button {
	background-color: #f6f6f6;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

.ss-green-button {
	background-color: green;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.ss-red-button {
	background-color: red;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.empty-button {
	color: white;
	background-color: white;
}

.empty-button:hover {
	border-color: white;
}

.disabled-button {
    cursor: not-allowed;
	background-color: grey;
}

.big-h1-title {
    margin-left: 5vw;
    font-size: 200%;
    margin-bottom: 3vh;
}

.ss-table-cell {
	text-align: center !important;
}

.ss-red-text {
	color: red;
}

.ss-icon {
	cursor: pointer;
}

.question-mark-icon {
	margin-left: 1vw;
}

.ss-table-head th {
	font-weight: bold !important;
}

.page-parent {
	width: 100%;
}

.small-caps-subtitle {
    font-size: 0.67em;
    font-weight: normal;
}

.small-caps-select-group-subtitle {
	font-size: 0.6em !important;
	margin-left: 2vw;
}

.folded-mop-filter {
    border: 1px solid black;
    border-radius: 1vw;
    background-color: #f6f6f6;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    font-weight: bold;
    color: #646cff;
}