#my-clubs-content {
    display: flex;
    flex-direction: column;
    min-width: 75vw;
    align-items: center;
}

.my-clubs-cell {
    padding-bottom: 0.75% !important;
    padding-top: 0.75% !important;
    border-bottom: 0 !important;
}

#my-clubs-table-container {
    width: auto;
}