#team-overview-parent {
    width: 100%;
}

#team-overview-content {
    display: flex;
    flex-direction: column;
}

#team-overview-parent-table {
    border-collapse: collapse;
    border-style: hidden;
}

#team-overview-parent-table .team-overview-cell {
    border: 1px solid #646cff;
    /* display: flex; */
    /* text-align: center; */
}

#team-overview-tables-div {
    display: flex;
    justify-content: center;
}

.overview-table-div {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.overview-table-title {
    font-weight: normal;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.overview-table-table {
    text-align: center;
}