#team-overview-content {
    display: flex;
    flex-direction: column;
}

#team-overview-parent-table {
    border-collapse: collapse;
    border-style: hidden;
}

#team-overview-parent-table .team-overview-cell {
    border: 1px solid #646cff;
    /* display: flex; */
    /* text-align: center; */
}

.team-overview-cell {
    width: 35vw;
}

#team-overview-tables-desktop {
    display: flex;
    justify-content: center;
}

#team-overview-tables-mobile {
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}