.club-add-team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobile-club-add-team {
    width: 100vw;
}

#desktop-club-add-team {
    width: 90vw;
}

#add-new-team-text {
    margin-left: 5vw;
}

.add-new-team-subtitle-div {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;   
}

#desktop-add-new-team-subtitle {
    width: 90vw;
}

#mobile-add-new-team-subtitle {
    width: 100vw;
}