#about-parent {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-around;
    container-name: abc;
    container-type: inline-size;
}

.test-class {
    width: 40px;
    height: 40px;
    background-color: green;
}

#od {
    width: 80px;
}

@container abc (width > 50px) {
    .test-class {
        background-color: red;
    }
}