#basic-player-stats-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.basic-player-stat {
    /* border: 1px solid #646cff; */
    /* border: 1px solid grey; */
    border-radius: 3vw;
    width: 40vw;
    max-width: 200px;
    text-align: center;
}

.player-overview-tables {
    display: flex;
    flex-direction: column;
    /* max-width: 700px; */
    /* width: 90vw; */
}

.player-overview-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-overview-table-div {
    min-width: 90vw !important;
}